@font-face {
    font-family: 'rig';
    src: url("fonts/Righteous-Regular.ttf") format('truetype');
}

@font-face {
    font-family: Volkhov;
    src: url("fonts/Volkhov-Regular.ttf") format('truetype');
}

* {
    margin: 0;
    padding: 0;
    border-color: transparent;
    scroll-behavior: smooth;
}

#body {
    width: 100%;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    background: url("img/sailor high def.jpg") 20% 70%;
    min-height: 600px;
    width: 100%;
    background-size: cover;
}

.navbar > img {
    max-height: 60px;
    padding-left: 20px;
    border-radius: 39vw;
}

.navbar > ul {
    font-family: rig, sans-serif;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 700px;
    list-style-type: none;
    margin: 0;
    padding: 3px;
    overflow: hidden;
}

.navbar > ul li a, footer > div > ul > li a {
    display: block;
    color: #1f1418;
    padding: 12px 16px;
    text-decoration: none;
    font-weight: bold;
    /*color: #333;*/
    font-size: 1.3em;
}

.navbar > ul li a:hover, footer > div > ul > li a:hover {
    background: rgba(255, 255, 255, .05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(3px);
    color: #564e4d;
    border-radius: 30px;
}

#intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8em;
    place-items: center;
}

#intro > div:first-child {
    color: #1f1418;
    font-weight: bold;
}

.headerCard {
    background: rgba(255, 255, 255, .05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    padding: 15px;
    text-align: center;
    opacity: 0.7;
    display: flex;
    align-items: center;
    font-family: rig, sans-serif;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    font-size: clamp(0.2em, calc(1.2vw + 1.2vh), 5em);
    width: 25vw;
}

.quote-text {
    font-size: clamp(0.2em, calc(1.2vw + 1.2vh), 5em);
    color: #1f1418;
}

.quote-text p {
    margin: 5px 0;
}

.yellow {
    font-size: 2em;
    color: #1f1418;
}

#pilot {
    font-family: Volkhov, sans-serif;
    font-weight: lighter;
    max-width: 500px;
    font-size: 1.5em;
    padding-left: clamp(0px, calc(1.1vw + 1.1vh), 200px);
}


#pilot > p {
    font-size: 0.7em;
    margin: 10px 0;
    width: 100%;
}

#pilot > h1:nth-child(2) {
    color: #564e4d;

}

.button {
    font-size: 0.8rem;
    font-family: rig, sans-serif;
    font-weight: lighter;
    padding: 1em 2.5em;
    border: none;
    outline: none;
    border-radius: 0.4rem;
    cursor: pointer;
    background: #1f1418;
    color: white;
    transition: 0.6s;
    box-shadow: 0 0 60px #1f4c65;
    text-align: center;
}

.button:active {
    scale: 0.92;
}

.button:hover {
    background: rgb(2, 29, 78);
    background: linear-gradient(270deg, rgba(2, 29, 78, 0.681) 0%, rgba(31, 215, 232, 0.873) 60%);
    color: rgb(4, 4, 38);
}

#main > div:nth-child(1) {
    background: #1f1b18;
    min-height: 40px;
    background-size: cover;
}

#work {
    padding: 20px 40px 0 40px;
    color: #1f1418;
    font-family: rig, sans-serif;
    font-size: clamp(1.5em, calc(1.1vw + 1.1vh), 0.8em);
    background: #fff3e4;

}

#exp {
    padding-block: 3em;
    font-family: Volkhov, sans-serif;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    gap: 4em;
    font-size: 0.85em;
}

#exp > div > h1 {
    text-align: center;
    font-size: 3em;
}

#exp > div > p > span {
    color: #1f1418;
    font-weight: bold;
}

#exp > div > p:last-child {
    margin-top: 10px;
}

#aboutMe {
    display: grid;
    place-items: center;
    font-family: Volkhov, sans-serif;
    min-height: 400px;
    background: linear-gradient(#fff3e4, #cff3f9);
}

#aboutMe .card1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5em;
    place-items: center;
    font-size: clamp(1.2em, calc(1vw + 1vh), 0.4em);

}

#aboutMe > div > div > p {
    max-width: 500px;
}

#aboutMe .card1 > img {
    border-radius: 20px;
}

#skills {
    padding: 40px 0 0 40px;
    font-family: rig, sans-serif;
    background: linear-gradient(#cff3f9, #fff3e4);
    color: #003e5a;
}

#skills > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    min-height: 300px;
    font-size: 1.3em;
    gap: 2em;
    place-items: center;
    text-align: left;
    padding: 2em 1em;
}

#skills > div > div {
    font-weight: bold;
}

#skills > div > div > p {
    padding-top: 15px;
    font-family: Volkhov, sans-serif;
    font-size: 0.8em;
    color: black;
    overflow-wrap: break-word;
    font-weight: normal;
}

#hobbies {
    min-height: 600px;
    animation: back 2s linear infinite alternate;
    background: #fff3e4;
    padding: 40px 40px 0 40px;
    font-family: rig, sans-serif;
}

#hobbies > div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 60px;
    gap: 4em;
    font-weight: lighter;
    margin: auto;
}


#hobbies > div > div > img {
    height: 200px;
    border-radius: 10px;
}

#hobbies > div > div {
    display: grid;
    grid-template-columns: 150px 1fr;
    gap: 1em;
    max-width: 500px;
    margin: auto auto;

}

#hobbies > div > div > p {
    max-width: 300px;
    align-self: center;
}

#contact {
    min-height: 500px;
    background: linear-gradient(#fff3e4, #f7ffff);
    color: black;
    display: grid;
    place-items: center;
    font-family: rig, sans-serif;
}

form {
    background: rgba(27, 31, 34, 0.80);
    background: #1e2122;
    width: 55%;
    margin: 35px auto 50px auto;
    max-width: 97%;
    border-radius: 20px;
    padding: 55px 30px;
}

form .title h2 {
    text-transform: uppercase;
    color: white;
    letter-spacing: 6px;
    border-bottom: 1px solid white;
    display: inline-block;
    padding-bottom: 8px;
    margin-bottom: 32px;
}

form .half {
    display: flex;
    justify-content: space-between;
}

form .half .item {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    width: 48%;
}

form label {
    color: white;
    display: block;
    letter-spacing: 3px;
    margin-bottom: 16px;
    font-size: 17px;
}

form .half .item input {
    color: white;
    border-radius: 4px;
    border: 1px solid white;
    outline: 0;
    width: 100%;
    height: 44px;
    background: transparent;
    font-size: 17px;
}

form .full {
    margin-bottom: 24px;
}

form .full textarea {
    color: white;
    background: transparent;
    border-radius: 4px;
    border: 1px solid white;
    outline: 0;
    width: 100%;
    height: 200px;
    font-size: 17px;
}

form .half .item input:focus, form .full textarea:focus {
    background: rgba(255, 255, 255, 0.075);
}

button {
    margin: 10px auto;
    width: 40%;
    text-align: center;
    text-transform: uppercase;
}

footer {
    background-image: url("img/anchorbanner.jpg");
    height: 500px;
    background-size: cover;
    background-position: center;
}

footer > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 70%;
    margin: auto;
    place-items: center;
    gap: 2em;
    height: 100%;
}

footer > div > ul {
    display: grid;
    grid-template-columns: 1fr;
    list-style-type: none;
    font-family: rig, sans-serif;
    padding: 6px;
}

footer > div > ul > li a {
    display: inline-block;
    color: #333;
    font-size: 1.8em;
}

.card {
    width: fit-content;
    height: fit-content;
    background-color: rgb(238, 238, 238);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 25px;
    gap: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.055);
    border-radius: 20px;
}

.socialContainer {
    min-width: 52px;
    min-height: 52px;
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: .3s;
}

footer > div > div:nth-child(1) > p {
    font-size: 1.7em;
    font-family: rig, sans-serif;
    margin-bottom: 20px;
}

/* instagram*/
.containerOne:hover {
    background-color: #d62976;
    transition-duration: .3s;
}

/* facebook*/
.containerTwo:hover {
    background-color: #00acee;
    transition-duration: .3s;
}

/* linkdin*/
.containerThree:hover {
    background-color: #0072b1;
    transition-duration: .3s;
}

/* Whatsapp*/
.containerFour:hover {
    background-color: #128C7E;
    transition-duration: .3s;
}

.socialContainer:active {
    transform: scale(0.9);
    transition-duration: .3s;
}

.socialSvg {
    width: 17px;
}

.socialSvg path {
    fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@media (max-width: 1200px) {
    footer .card {
        transform: rotate(90deg);
    }

    footer .card > a {
        transform: rotate(-90deg);
    }

    footer > div > div:nth-child(1) > p {
        display: none;
    }
}

@media (max-width: 1000px) {
    #hobbies > div > div {
        grid-template-columns: 1fr;
        place-items: center;
    }
}

@media (max-width: 850px) {
    .headerCard {
        display: none;
    }

    #pilot {
        width: 32vw;
        font-size: 1em;
    }

    #exp {
        grid-template-columns: 1fr;
    }

    #aboutMe.card {
        padding-block-start: 2em;
        grid-template-columns: 1fr;
        place-items: center;
    }

    #skills > div {
        grid-template-columns: 1fr 1fr;
    }

    form .half {
        flex-direction: column;
        width: 100%;
    }

    form .half .item {
        width: 100%;
    }

    #hobbies > div > div {
        grid-template-columns: 1fr 1fr;
    }

    #hobbies > div {
        grid-template-columns: 1fr;
    }

    footer > div {
        grid-template-columns: 1fr;
    }

    footer > div .card {
        order: 3;
        transform: rotate(360deg);
    }

    footer .card > a {
        transform: rotate(0deg);
    }

    footer > div > ul {
        order: 1;
        grid-template-columns: repeat(4, 1fr);
    }

    footer .card {
        padding: 10px;
    }

    footer > div > div:nth-child(1) > p {
        display: none;
    }

}

@media (max-width: 768px) {
    footer > div {
        grid-template-columns: 1fr;
        width: 90%;
    }

    footer > div > ul {
        margin-top: 10px;
        grid-template-columns: repeat(2, 1fr);
        gap: 1em;
    }

    footer > div > ul > li > a {
        padding: 20px;
    }
}

@media (max-width: 500px) {
    footer {
        height: auto;
        padding: 40px 0;
    }

    footer > div {
        display: block;
        text-align: center;
    }

    .card {
        width: 100%;
    }

    .socialContainer {
        min-width: 40px;
        min-height: 40px;
    }

    footer > div > div:nth-child(1) > p {
        display: none;
    }

    .navbar > ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
    }

    .navbar > img {
        max-height: 70px;
    }

    #pilot {
        width: 200px;
        font-size: 0.85em;
    }

    #aboutMe > div.card > div > p:nth-child(1), #aboutMe > div.card > div > p:nth-child(3) {
        display: none;
    }

    #skills > div {
        grid-template-columns: 1fr;
    }

    #hobbies > div > div {
        font-size: 0.8em;
    }

    #aboutMe > div > div > p:nth-child(1) {
        display: none;
    }

    #aboutMe > div > div > a {
        font-size: 0.75em;
        padding: 1em;
    }
}

@media (max-width: 450px) {
    #hobbies > div > div {
        font-size: 0.6em;
    }

    #aboutMe > div > div > p {
        font-size: 0.6em;
    }

    #aboutMe > div > div > a {
        font-size: 0.6em;
        padding: 10px;
    }
    footer {
        background: #f7ffff ;
    }
}

@media (max-width: 400px) {
    #contact > form > button {
        width: 100px;
    }

    #aboutMe > div > div > a > span {
        display: none;
    }
}